.confirmPageBody {
  background-size: cover;
  background: rgb(140, 118, 109);
  background: linear-gradient(to bottom, rgba(140, 118, 109, 0.406) 24%, rgba(38, 38, 38, 0.79) 100%), url(/images/nordwood-themes-KcsKWw77Ovw-unsplash.jpg);
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
  max-height: 200vh;
}

.mainConfirmPage {
  h1 {
    padding-top: 2em;
    text-align: center;
    font-family: flood-std, sans-serif;
    font-size: 60px;
    color: #262626
  }
}