.popUpContent {
  background-color: #262626;
  margin-left: auto;
  padding: 2em;
  width: 30vw;
  box-shadow: 2px 5px 4px #000;
  color: #F2EAE4;
  display: flex;
  flex-direction: column;
  z-index: 12;
  justify-content: center;
  align-items: center;

  h1 {
    font-family: flood-std, sans-serif;
    padding-bottom: 1em;
  }

  section {
    display: flex;
    align-items: center;
    margin-bottom: 1em;

    h2 {
      font-size: 16px;
    }

    .basketImg {
      margin-right: 2em;
      max-width: 200px;
      width: 100%;

      img {
        padding: 1em;
        background: white;
        border: 1px black solid;
      }
    }

    .textProduct {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      h2 {
        padding-bottom: 1em;
      }

      .change {
        display: flex;
        align-items: center;

        input {
          width: 50px;
        }

        button {
          width: 100px;
          margin: 0;
          font-size: 12px;
        }
      }
    }

    input {
      width: 50px;
      background-color: #262626;
      color: #BF9C8F;
      height: 30px;
      padding-left: 0.5em;
      border: #BF9C8F solid 1px;
      border-radius: 5px;
    }
  }


  button {
    height: 30px;
    width: 150px;
    border: 1px solid #262626;
    background-color: #BF9C8F;
    color: #262626;
    font-family: upgrade, sans-serif;
    font-weight: 400;
    margin: 0 0.5em;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
  }

  // button:hover {
  //   transition: ease-in 0.5s;
  //   transform: scale(1.1);
  // }
}

.formContent {
  background-color: #262626;
  margin: 2em auto;
  padding: 3em;
  width: 70vw;
  height: 80vh;
  box-shadow: 2px 5px 4px #000;
  color: #F2EAE4;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;

  h1 {
    font-family: flood-std, sans-serif;
    font-size: 40px;
    padding: 1em;
  }

  input {
    max-width: 400px;
    width: 100%;
    margin: 1em;
  }

  #expirationDate,
  #cvc {
    max-width: 200px;
    margin: 0 0 1em 0;
  }

  button {
    margin: auto;
    height: 30px;
    width: 150px;
    border: 1px solid #262626;
    background-color: #BF9C8F;
    color: #262626;
    font-family: upgrade, sans-serif;
    font-weight: 400;
    margin: 0 0.5em;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
  }

  button:hover {
    transition: ease-in 0.5s;
    transform: scale(1.1);
  }
}