* {
  margin: 0;
  box-sizing: border-box;
  font-family: upgrade-lights, sans-serif;
}

body {
  background-color: #262626;
}

.imgWrapper {
  width: 100%;
  max-height: 300px;
  height: 100%;
  object-fit: cover;
  object-position: center;
}