* {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: upgrade-lights, sans-serif;
}

body {
  background-color: #262626;
}

.imgWrapper {
  width: 100%;
  max-height: 260px;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.firstPageHeader {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto 1f;
  -ms-grid-columns: 1fr;
      grid-template: auto 1f / 1fr;
  height: 80vh;
  width: 100vw;
  background: #8c766d;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(24%, rgba(140, 118, 109, 0.406)), to(rgba(38, 38, 38, 0.79))), url(/images/background.jpg);
  background: linear-gradient(to bottom, rgba(140, 118, 109, 0.406) 24%, rgba(38, 38, 38, 0.79) 100%), url(/images/background.jpg);
  background-size: cover;
  background-position: center;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #262626;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  height: 80px;
  z-index: 11;
  overflow: hidden;
}

nav .active {
  border-bottom: 2px solid #BF9C8F;
}

nav a {
  font-family: upgrade, sans-serif;
  font-weight: 400;
  color: #F2EAE4;
  text-decoration: none;
  margin: 0 1em;
}

nav a:first-child {
  margin-right: auto;
}

nav a:last-child {
  margin-right: 5em;
}

nav #logo {
  max-height: 60px;
  width: 100px;
  padding-top: 0.5em;
}

nav #basket {
  max-height: 30px;
  margin: 0;
  width: 30px;
}

.headerPic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      align-self: center;
  text-align: center;
  background-image: url(/images/brownbrush.png);
  padding-bottom: 2em;
  background-repeat: no-repeat;
  background-position: center;
  height: 600px;
}

.headerPic h1 {
  font-family: flood-std, sans-serif;
  font-size: 60px;
  color: #262626;
}

.headerPic h2 {
  font-size: 20px;
  color: #F2EAE4;
}

.categories {
  margin: auto;
  text-align: center;
  padding-bottom: 3em;
}

.categories h2 {
  font-family: flood-std, sans-serif;
  font-weight: 400;
  font-size: 36px;
  color: #F2EAE4;
  padding: 0.8em 0 0.2em 0;
}

.categories button {
  height: 30px;
  width: 150px;
  border: 1px solid #262626;
  background-color: #BF9C8F;
  color: #262626;
  font-family: upgrade, sans-serif;
  font-weight: 400;
  margin: 0 0.5em;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
}

.categories button:hover {
  -webkit-transition: ease-in 0.5s;
  transition: ease-in 0.5s;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.posterArticle {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr 1fr 1fr;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template: 1fr 1fr 1fr 1fr/ 1fr 1fr 1fr;
  grid-gap: 3em;
  padding: 4em;
  background-color: #8C766D;
  margin-top: 2em;
}

.posterArticle section {
  -ms-grid-rows: 1fr auto;
      grid-template-rows: 1fr auto;
  max-height: 500px;
  height: 100%;
}

.posterArticle section .productTextInfo {
  padding-bottom: 1em;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto auto auto;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template: auto auto auto / 1fr 1fr 1fr;
  color: #262626;
}

.posterArticle section .productTextInfo h3 {
  grid-column: span 3;
  font-family: flood-std, sans-serif;
  font-size: 28px;
}

.posterArticle section .productTextInfo p {
  grid-column: span 3;
}

.posterArticle section .productTextInfo h4 {
  font-family: upgrade, sans-serif;
  -ms-grid-column-align: start;
      justify-self: start;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-weight: 400;
  font-size: 24px;
}

.posterArticle section .productTextInfo input {
  width: 50px;
  height: 30px;
  background-color: #262626;
  border-radius: 5px;
  color: #BF9C8F;
  border: #262626 solid 1px;
  -ms-grid-column-align: end;
      justify-self: end;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-family: upgrade, sans-serif;
  font-weight: 400;
  cursor: pointer;
  padding-left: 1em;
}

.posterArticle section .productImgWrapper {
  border: 5px solid black;
  padding: 2em;
  background: whitesmoke;
  margin-bottom: 1em;
}

.buyButtonStyler {
  width: 120px;
  height: 30px;
  background-color: #262626;
  border-radius: 5px;
  color: #BF9C8F;
  border: #262626 solid 1px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: end;
      justify-self: end;
  font-family: upgrade, sans-serif;
  font-weight: 400;
  cursor: pointer;
}

.buyButtonStyler:hover {
  -webkit-transition: ease-in 0.5s;
  transition: ease-in 0.5s;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 3em;
}

footer #logo {
  max-height: 160px;
  width: 200px;
  padding-top: 0.5em;
  padding-right: 3em;
}

footer section h2 {
  font-family: upgrade, sans-serif;
  font-weight: 400;
  border-bottom: #BF9C8F 1px solid;
  color: #BF9C8F;
}

footer section a {
  text-decoration: none;
  color: #BF9C8F;
}

.confirmPage {
  background-size: cover;
  background: #8c766d;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
  max-height: 200vh;
}

.mainConfirmPage h1 {
  padding-top: 2em;
  text-align: center;
  font-family: flood-std, sans-serif;
  font-size: 60px;
  color: #262626;
}

.popUpContent {
  background-color: #262626;
  margin-left: auto;
  padding: 3em;
  width: 30vw;
  height: 400px;
  -webkit-box-shadow: 2px 5px 4px #000;
          box-shadow: 2px 5px 4px #000;
  color: #F2EAE4;
}
/*# sourceMappingURL=main.css.map */